@import "variables", "mixins";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
}

fieldset {
	border: none;
}

html {
	scrollbar-gutter: stable;

	@include mobile {
		font-size: 14px;
	}
}

body {
	min-height: 100vh;
	line-height: 1.5;

	//* MUI добавлять справа padding, если установлен scrollbar-gutter у html
	padding-right: 0 !important;

	font-family: map-get($fonts, family);

	color: map-get($colors, primaryText);
}

#root {
	min-height: inherit;

	@include flex(column);
}

[type="search"]::-webkit-search-cancel-button {
	cursor: pointer;
}
