@import "variables";

@mixin flex($dir: row) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $dir;
	gap: map-get($gaps, default);
	@content;
}

@mixin desktop {
	@media only screen and (min-width: 769px) {
		@content;
	}
}

@mixin mobile {
	@media only screen and (max-width: 768px) {
		@content;
	}
}
