@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap");

$colors: (
	primary: #fff,
	primaryText: #26273b,
	secondaryText: #707783,
	star: #fbb500,
	backdrop: #00000080,
);

$gaps: (
	default: 1rem,
);

$fonts: (
	family: "Noto Sans" sans-serif,
);

$padding: (
	default: 1rem,
);

$zIndex: (
	default: 1,
);
